body {
  padding: 0;
  margin: 0;
}

#map {
  height: 100vh;
  background-color: black;
}

.legend {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


